<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Framework Guru</title>
</head>
<body>
<table>
  <tr>
    <th>Id</th>
    <th>Full Name</th>
    <th>Book</th>
  </tr>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}">123</td>
    <td th:text="${author.firstName + ' ' + author.lastName}">Abhishek Sawant</td>
    <td rowspan="2">
      <table>
        <tr th:each="book : ${author.getBooks()}">
          <td th:text="${book.title}">Spring in action</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>